*{
    font-family: 'Quicksand', sans-serif;
}

header{
    color: white;
    font-size: 18px;
    margin-bottom: 50px;
}

body{
    background-color: #ff8b3c;
}

.borda{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centralizar{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.banner{
    height: 250px;
    width: 250px;
    background-color: #FFB887;
    margin-top: 50px;
    border-radius: 13px;
    margin-bottom: 100px;
}

.mascote{
    position: relative;
    top: 100px;
    left: 100px;
}

.mensagemBanner{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -90px;
    font-size: 18px;
}

footer{
    color: white;
    font-size: 18px;
}